01_anno/01_supplements/src_toni/analysis_files/MoCHI_observed_vs_predicted/2state_FL_predicted_phenotypes_all.txt
01_anno/01_supplements/src_toni/analysis_files/MoCHI_observed_vs_predicted/2state_KD_predicted_phenotypes_all.txt
01_anno/01_supplements/src_toni/analysis_files/MoCHI_observed_vs_predicted/3state_FL_predicted_phenotypes_all.txt
01_anno/01_supplements/src_toni/analysis_files/MoCHI_observed_vs_predicted/3state_KD_predicted_phenotypes_all.txt
01_anno/01_supplements/src_toni/analysis_files/MoCHI_observed_vs_predicted/4state_FL_predicted_phenotypes_all.txt
01_anno/01_supplements/src_toni/analysis_files/MoCHI_observed_vs_predicted/4state_KD_predicted_phenotypes_all.txt
